<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Classifier</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div id="div1">
        <div id="home_icon">
            <img src="https://upload.wikimedia.org/wikipedia/en/5/52/Indian_Institute_of_Technology%2C_Patna.svg" alt="Trulli" width="65" height="65" class="logo">
        </div>
        <div id="title_text">
            <p class="modal_title">Comment Toxicity Analyzer</p>
        </div>
        <div id="youtube_icon">
            <img src="https://upload.wikimedia.org/wikipedia/en/d/d1/NIT_Durgapur_Logo.png"  width="65" height="65"  class="logo_you" >
        </div>
    </div>

    <div id="div2">
        <form method="POST">
            <div class="form-wrap">
                <div class="input">
                    <label for="first">Enter Comment Here</label>
<!--                     <br> -->
<!--          <textarea rows = "5" cols = "60" name = "text_to_classify">
            
         </textarea> -->
<!--                     <br> -->
                    <input id="textual" type="text" rows = "5" cols = "60" name="text_to_classify" autocomplete="off">
                </div>
                <svg class="line"></svg>
            </div>
        </form>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js'></script>
        <script  src="../static/script.js"></script>
        <div class="button" id="div3">
            <button id="clickable" class="hoverable" type="submit">Analyze</button>
            

            <script  src="../static/script.js"></script>
        </div>
    </div>

<!--     <div id="div3">
        <button id="clickable" class="hoverable" type="submit">Classify</button>
        <script  src="../static/script.js"></script>
    </div> -->
    {% block content %}
    {% endblock %}

</body>
</html>
